.container,
.manageUsers {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.manageUsers {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-0) var(--padding-15) var(--padding-0) var(--padding-0);
  gap: var(--gap-0);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.container {
  height: 2784px;
  box-shadow:
    0 0 0 transparent,
    0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-900);
  flex-direction: column;
  padding: var(--padding-11_9) var(--padding-0);
  gap: 44px;
}
.brandHeader {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: var(--padding-0) var(--padding-11);
  gap: var(--gap-4);
}
.mergedAsset1Icon {
  height: var(--height-60);
  width: var(--width-60);
  position: relative;
  object-fit: cover;
}
.brandText {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2_9) var(--padding-0) var(--padding-0);
}
.adminPanel,
.cvProperties {
  align-self: stretch;
  position: relative;
}
.cvProperties {
  margin: 0;
}
.adminPanel {
  font-size: var(--fs-12);
  line-height: var(--lh-18);
  color: var(--color-gray-1400);
}
.navMenu {
  flex-direction: column;
  gap: 2033px;
  font-size: var(--fs-14);
}
.navItemDashboard,
.navItemsList,
.navMenu {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.navItemsList {
  flex-direction: column;
  padding: var(--padding-0) var(--padding-12);
  gap: var(--gap-16);
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-gray-1300);
  font-family: var(--font-inter);
}
.navItemDashboard {
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12);
  gap: var(--gap-10);
}
.layoutDashboardIcon {
  height: var(--height-20);
  width: var(--width-20);
  position: relative;
}
.dashboard {
  flex: 1;
  position: relative;
  line-height: var(--lh-21);
  font-weight: 500;
  display: inline-block;
  max-width: var(--max-w-174_2);
}
.navItemUsers {
  justify-content: center;
}
.container2,
.navItemListings,
.navItemUsers {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-10);
}
.navItemListings {
  justify-content: center;
  padding: var(--padding-12) var(--padding-0);
}
.container2 {
  height: var(--height-47);
  border-radius: var(--br-16);
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  padding: var(--padding-12) var(--padding-16);
  color: var(--color-white);
}
.bookings {
  flex: 1;
  position: relative;
  line-height: var(--lh-21);
  font-weight: 500;
}
.container3 {
  align-self: stretch;
  background-color: var(--color-gray-1200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-1);
}
.lineIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.containerRow1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-24) var(--padding-12);
  gap: var(--gap-11_9);
}
.image {
  height: var(--height-40);
  width: var(--width-40);
  position: relative;
  border-radius: var(--br-10);
  background-color: var(--color-gainsboro-300);
}
.containerRow1Column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1_9) var(--padding-0);
  box-sizing: border-box;
  max-width: 160.3px;
}
.adminUser,
.superAdministrator {
  align-self: stretch;
  position: relative;
}
.adminUser {
  line-height: var(--lh-21);
  font-weight: 500;
  z-index: 1;
}
.superAdministrator {
  font-size: var(--fs-10);
  line-height: var(--lh-15);
  color: var(--color-gray-1400);
  z-index: 2;
  margin-top: -1px;
}
.mainArea,
.mainAreaColumn0 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  min-width: var(--min-w-310);
}
.mainArea {
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-5);
  max-width: 1165px;
}
.mainAreaColumn0 {
  flex-direction: column;
  max-width: 100%;
  text-align: right;
  font-size: var(--fs-14);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.container4,
.containerRow0 {
  align-self: stretch;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.container4 {
  background-color: var(--color-white);
  flex-direction: column;
  gap: var(--gap-1);
}
.containerRow0 {
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-14) var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-12);
}
.textbox {
  border: 0;
  background-color: transparent;
  height: var(--height-43);
  flex: 1;
  font-family: var(--font-inter);
  font-size: var(--fs-14);
  color: var(--color-darkgray);
  min-width: var(--min-w-310);
  max-width: 503px;
}
.mergedAsset2 {
  height: 27.9px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-8) var(--padding-3_9) var(--padding-0);
  box-sizing: border-box;
}
.mergedAsset2Icon {
  height: var(--height-24);
  width: 24px;
  position: relative;
}
.bellIcon2,
.rectangle {
  position: absolute;
  top: 3.45px;
  left: -0.39px;
  width: var(--width-20);
  height: var(--height-20);
}
.rectangle {
  top: -0.55px;
  left: 15.61px;
  border-radius: var(--br-4);
  background-color: var(--color-crimson-100);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: var(--width-8);
  height: var(--height-8);
}
.lineIcon2 {
  height: var(--height-40);
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.containerRow0Column3 {
  flex: 1.2575;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: var(--min-w-79);
  max-width: 92px;
}
.adminUser2,
.superAdmin {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.superAdmin {
  font-size: var(--fs-10);
  letter-spacing: var(--ls-0_5);
  line-height: var(--lh-15);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dimgray-200);
  z-index: 2;
  margin-top: -1px;
}
.image2 {
  height: var(--height-40);
  width: var(--width-40);
  position: relative;
  border-radius: var(--br-16);
  background-color: var(--color-gainsboro-300);
}
.container5 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: 13.9px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--min-w-310);
  max-width: 380px;
}
@media screen and (max-width: 1200px) {
  .mainArea {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .container5,
  .textbox {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .container {
    gap: 22px;
  }
  .navMenu {
    gap: 1016px;
  }
}

