.checkbox {
  height: var(--height-14_9);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-1_9);
  box-sizing: border-box;
  z-index: 3;
}
.checkboxIcon {
  height: var(--height-13);
  width: var(--width-13);
  position: relative;
}
